<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= data[0].title%> - 日常百科</title>
    <link rel="stylesheet" type="text/css" href="/css/item/item.css">
</head>
<body>
	<% include include/nav.ejs %> 

	  <% function time(t){ %>
     <% var date = new Date(t) %>
      <%= date.toLocaleString() %>
  <% } %>

  	<div class="w1200 page-body">
      <div class="margin"></div>
      <div class="bd-left">
        <div class="title">
          <%= data[0].title %>
        </div>
        <div class="writing-box">
          <span><% time(data[0].dataTime) %></span>
          <span>阅读：<%= data[0].readNumber %></span>
          <span>喜欢：<%= data[0].like %></span>
        </div>
        <div class="cente-bd">
          <%- data[0].text %>
        </div>
        <div class="item-ft">
          <!-- 本站内容均转自互联网，版权归原作者所有 -->
          <div class="like">
            <i class="iconfont" id="jLike" data-id="<%=data[0].id%>">&#xe684;</i>
            <div>喜欢</div>
          </div>
        </div>
      </div>
  		<div class="bd-right">
  			<% include include/hot.ejs %>
  		</div>
      <div class="clear"></div>
  	</div>

    <% include include/ft.ejs %>
    <script>
		require(['conf/item/item']);
    </script>
</body>
</html>