<!DOCTYPE html>
<html class="fyf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>日常百科</title>
    <link rel="stylesheet" type="text/css" href="/css/index/index.css">
</head>
<body>
  <% include include/nav.ejs %> 
  
    <div class="w1200 page-body">
      <div class="twoClass">
        <%if(!twoClassId){%>
          <a href="/list?classId=<%=classId%>" class="act">全部</a>
        <%}else{%>
          <a href="/list?classId=<%=classId%>">全部</a>
        <%}%>
        <%for(var i=0, len=twoClass.length; i<len; i++){%>
          <%if(twoClass[i].id == twoClassId){%>
            <a class="act" href="/list?classId=<%=classId%>&twoClassId=<%=twoClass[i].id%>"><%= twoClass[i].name%></a>
          <%}else{%>
          <a href="/list?classId=<%=classId%>&twoClassId=<%=twoClass[i].id%>"><%= twoClass[i].name%></a>
          <%}%>
        <%}%>

      </div>
      <div class="bd-left">
        <ul>
          <%for(var i=0, len=data.length; i<len; i++){%>
          <li>
            <div><a href="/item?id=<%= data[i].id %>"><img src="<%= data[i].img%>"></a></div>
            <div class="title"><a href="/item?id=<%= data[i].id %>"><%= data[i].title%></a></div>
            <div class="tool">
              <span class="ll"><i class="iconfont">&#xe661;</i><%= data[i].readNumber%></span>
              <span class="xh"><i class="iconfont">&#xe643;</i><%= data[i].like%></span>
              <!-- <label>2016-12-07 18:36:56</label> -->
            </div>
          </li>
          <%}%>
          <div class="clear"></div>
        </ul>
        <div class="page">
          <%if(page>1){%>
          <a href="/?page=<%= page-1%>">上一页</a>
          <%}%>
          <%if(data.length >= 15){%>
            <a href="/?page=<%= page+1%>">下一页</a>
          <%}%>
        </div>
      </div>
      <div class="bd-right">

        <% include include/hot.ejs %>
        
      </div>
      <div class="clear"></div>
    </div>
    
    <% include include/ft.ejs %>
    <script>
    require(['conf/index/index']);
    </script>
</body>
</html>